@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none !important;
    color: inherit;
}

header{
    background-image: url("assets/heroImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: right top;
    height: 86vh;
}


nav h1{
    color: white;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 50px;
    z-index: 10000;
    margin-bottom: 10px;
}

nav.sticky{
    padding: 12px 50px;
    background-color: white;
    
}

nav ul{
    color: white;
    display: flex;
    gap: 2em;
    
}


nav ul li{
    
    list-style: none;
}

nav.sticky h1{
    color: #7500DB;
}
nav.sticky ul li{
    color: black;
}

.hero-section{
    padding-top: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    gap: 3em;
}

.hero-section span{
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.hero-section span h2{
    font-size: 42px;
    display: inline-block;
    font-weight: 800;
}

.booking-section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 10px;
    gap: 18px;
}

.booking-section span{
    
    color: rgb(54, 54, 54);
    font-size: 10px;
}
.booking-section span h2{
    color: rgb(44, 44, 44);
    font-size: 10px;
}

form {
    display: flex;
    justify-content: start;
    gap: 1em;
}
form input{
    padding: 16px 6px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    background-color: #F7EDFF;
}

.btn-booking{
    background-color: #7500DB;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    padding: 14px 30px;
    color: #F7EDFF;
    border-radius: 5px;
}
.btn-booking:hover{
    background-color: #6800c4;
}

.content {
    padding: 36px 72px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.recomendation-section{
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}
.recomendation-section h2{
    font-size: 22px;
}

.list-hotel{
    display: flex;
    justify-content: space-between;
    gap: 1.4em;
}


.card-hotel{
    border-radius: 12px;
    color: #120220;
    box-shadow: 0 4px 8px 0 rgba(108, 108, 108, 0.2), 0 2px 4px 0 rgba(124, 124, 124, 0.19);
    display: flex;
    flex-direction: column;
    width: 216px;
    overflow: hidden;
}
.card-img{
    overflow: hidden;
    width: 100%;
    height: 140px;
}

.card-img img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.card-content{
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
}

.card-content h2{
    margin-bottom: 10px;
    font-size: 18px;
}

.card-content p{
    font-size: 10px;
}

.card-content span{
    margin-top: 84px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}

.recomendation-section .btn-detail{
    align-self: center;
    margin-top: 12px;
    width: 24%;
    background-color: #f5e9ff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 14px 30px;
    color: #6800c4;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.6s;
}

.recomendation-section .btn-detail:hover{
    background-color: #ead0ff ;
}

.services-section{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.service-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    
}

.service-card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7500DB;
    width: 100%;
    
    color: white;
    border-radius: 4px;
    height: 180px;
}
.location-section{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer{
    padding: 36px 72px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

footer .left-footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
}
footer .center-footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
}
footer .right-footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
}